<h3>Ajouter un Agent</h3>
<form [formGroup]="agentForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" id="name" type="text" required />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput formControlName="age" id="age" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" id="email" type="string" required />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input
      matInput
      formControlName="password"
      id="password"
      type="password"
      required
    />
    <mat-error>Required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Téléphone</mat-label>
    <input matInput formControlName="tel" id="tel" type="string" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select required>
      <mat-option value="true">Oui</mat-option>
      <mat-option value="false">Non</mat-option>
    </mat-select>
    <mat-label>Administrateur ?</mat-label>
  </mat-form-field>

  <button type="submit" [disabled]="!agentForm.valid">Ajouter l'agent</button>
</form>
